p {
    font-size: 30px;
    font-family: "Open Sans";
    background-color: #ccc;
    line-height: 148px;
    margin-bottom: 20px;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-indent: 100px;
    text-align: center;
  }
  p.green {
    color: green;
  }
  p[name="red"] {
    color: red;
  }